<% layout("/layouts/boilerplate") %>

    <body>
        <div class="row mt-3">
            <div class="col-8 offset-2">
                <br><br>
                <h3>Edit your Listing</h3>
                <form enctype="multipart/form-data" action="/listings/<%=listing._id%>?_method=PUT" method="POST" class="needs-validation" novalidate>
                    <div class="form-title mb-3">
                        <label for="title" class="form-label mb-0">Title</label>
                        <input required type="text" id="title" class="form-control" name="listing[title]"
                            value="<%=listing.title%>">
                            <div class="valid-feedback">
                                Title looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please enter a valid title
                             </div>

                    </div>

                    <div class="form-description mb-3">
                        <label for="description" class="form-label mb-0">Description</label>

                        <textarea required type="text" id="description" class="form-control" name="listing[description]"
                            ><%=listing.description%></textarea><br>
                            <div class="invalid-feedback">
                                Please enter a short description
                             </div>

                    </div>

                    <div class="mb-3">
                        Orignal Listing Image
                        <br>
                        <img src="<%= orignalImageUrl%>" alt="Listing Image" style="height: 10rem;">
                    </div>

                    <div class="form-image mb-3">
                        <label for="image" class="form-label mb-0">Upload New Image</label>
                        <input  type="file" id="image" class="form-control" name="listing[image]"
                            value="<%=listing.image%>">
                           


                    </div>
                    <div>
                        <label for="category">Select Category for Your Airbnb</label>
                    <select class="form-select mb-3" required id="category" name="listing[category]">
                        <option value="" selected >Please select a category</option>                        </option>
                        <option value="Trending">Trending</option>
                        <option value="Mountains">Mountains</option>
                        <option value="Farms">Farms</option>
                        <option value="Arctic">Arctic</option>
                        <option value="Domes">Domes</option>
                        <option value="Castles">Castles</option>
                        <option value="Amazing Pools">Amazing Pools</option>
                        <option value="Camping">Camping</option>
                        <option value="Boat">Boat</option>
                        <option value="Iconic Cities">Iconic Cities</option>
                        <option value="Rooms">Rooms</option>
                    </select>
                    </div>

                    <div class="row">
                        
                    <div class="col-md-4 form-price mb-3">
                        <label for="price" class="form-label mb-0">Price</label>

                        <input required type="number" id="price" class="form-control" name="listing[price]"
                            value="<%=listing.price%>"> 
                            
                            <div class="invalid-feedback">
                                Price should be valid and in numbers
                             </div>

                    </div>


                    <div class="col-md-8 form-country mb-3">
                        <label for="country" class="form-label mb-0">Country</label>

                        <input required type="text" id="country" class="form-control" name="listing[country]"
                            value="<%=listing.country%>">
                            <div class="invalid-feedback">
                                Country name should be valid
                            </div>
                    </div>


                    </div>


                    <div class="form-location mb-3">
                        <label for="location" class="form-label mb-0">Location</label>
                        <input required type="text" id="location" class="form-control" name="listing[location]"
                            value="<%=listing.location%>">
                            <div class="invalid-feedback">
                                Location should be valid
                            </div>


                    </div>

                    

                    <button class="btn btn-dark edit-btn mt-3">Edit</button>
                </form>
            </div>
        </div>
        <!-- here writing the name as object[key] will create an object inside the req.body object and in that created object all this key is present with their respective values. -->

        <!-- In HTML, using the `name` attribute in the format `object[key]` will create an object inside the `req.body` object. This created object will contain the specified `key` properties with their respective values. -->
         <script>
            let selectElementObj=document.getElementById("category");

            selectElementObj.value="<%=listing.category%>";
         </script>
    </body>